<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scrabble</title>
  </head>
  <body>
    <div class="container">
    <div class="game">

      YOUR RACK
      <div id="rack">    </div><br>
  <!-- <span id="js-rotating">  <%= @game.rack.join(",") %></span> <br> -->
      <div id="word-score"> HIGHEST POSSIBLE SCORE: <%= @game.score @game.highest_possibe_score%>points </div>

      <div id="best-word"> </div>
      LONGEST WORD SCORE: <%= @game.score @game.longest_valid_word%>points
      <div id="longest-word"></div>
    <!-- <%= @game.bag %><br> -->

    </div>
    <div class="game">
      RULES
    </div>
<div class="rules">

    <p>Calculate the score for a word (you may ignore double/triple letter/word scores).</p>
    <p> Assign seven tiles chosen randomly from the english alphabet to a rack. </p>
    <p> Letters should be distributed based on the English Scrabble letter distribution (you may ignore blank tiles).  </p>
    <p> Find a valid word formed from the seven tiles. A list of valid words can be found in public/twl06.txt.  </p>
    <p> Find the longest valid word that can be formed from the seven tiles.  </p>
    <p> Find the highest scoring word that can be formed. </p>
</div>
  </div>
    <script src="//cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
       <script>window.jQuery || document.write('<script src="bower_components/jquery/jquery.min.js"><\/script>')</script>
       <script src="bower_components/morphext/dist/morphext.js"></script>
       <script>
       (function($) {
         $.fn.writeText = function(content) {
           var contentArray = content.split(""),
            current = 0,
            elem = this;
          setInterval(function() {
            if(current < contentArray.length) {
                elem.text(elem.text() + contentArray[current++]);
                    }
                }, 100);
            };
        })(jQuery);

        $("#rack").writeText("<%=@game.rack.join("")%>");
        $("#best-word").writeText("<%=@game.highest_possibe_score%>");
        $("#longest-word").writeText("<%=@game.longest_valid_word%>");
       </script>
       

    <script>
    function reload() {
        location.reload();
    }
    </script>

  </body>
</html>
